@import url('https//fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Ubuntu',sans-serif;
}

body{
    font-family: monospace;
    /* background: linear-gradient(to right bottom ,#ea2c2e ,#52057b)no-repeat; */
    background-image: url(pexels-pixabay-355887.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;


}
header{
    position: absolute;
    top:10%;
    left: 8%;
    color: #fff;
}
header h1{
    font-size: 50px;
    font-weight: 900;
    margin: 10px;
}
.all{
    background: linear-gradient(to bottom, rgba(244, 233, 233, 0.03), rgb(255, 255, 255));
    height: 100vh;
    width: 100vw;
    background-size: cover;
}
.container{
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-20%, -40%);
    background: #fff;
    opacity: 0.9;
    border-radius: 20px;
    width: 700px;
    height: 400px;
    
}
h1{
    font-size: 30px;
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 30px;
}
.form-control{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    color: #000;
    border-bottom: 1px solid #000;

}
.p-body{
 padding: 20px;
}
.form-control label{
    cursor: pointer;
}
.p-header{
    position: relative;
}
.p-header input{
    width: 100%;
    line-height: 60px;
    background-color: #339933;
    padding: 14px;
    border-radius: 3px;
    color: #fff;
    border: none;
    font-size: 32px;
    font-weight:500;

}
.p-header button,.form-control input[type=number]{
    padding: 3px 5px;
    background-color: #fDD572;
    color: #000;
    outline: none;
    border: none;
    border-radius: 3px ;
    width: 15%;

}
.p-header button{
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
}
#submit{
    width:100%;
    margin-top:25px ;
    padding: 15px;
    background-color:#3282b8 ;
    font-size: 18px;
    font-weight: 700;
    outline:none;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    transition: all .3s;

}
#submit:hover{
    background-color: #ea2c62;
}
#submit:active{
    background-color: #3282b8;
}
